{% extends 'base.html' %}
        
{% block title %}
    Admin Login
{% endblock %}

{% block content %}    
<h1>Admin Login</h1>
<form action="{{url_for('admin.login')}}"method="POST">
    {{ form.hidden_tag() }}
    Email: {{ form.email }}<br/>
    Password: {{ form.password }}<br/>
    <input type="Submit" value="Login">
</form>
{% endblock %}
